*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(212, 189, 189);
padding-top: 23px;
    height: 100vh;
    width: 100%;
    background: url("zymb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: left;
    /* opacity: 0.9; */

}
nav{
    display: flex;
    margin: auto;
    padding: 22px 0px;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px ;
    
}
    #navbar ul li a{
        display: block;
        padding: 2px 10px;
        border-radius: 25px;
        text-decoration: none;
        font-weight: bolder;
        color: #fff;
        /* text-transform: uppercase; */
        font-weight: 600px;
        font-size: 27px;
        letter-spacing: 1px;
        /* padding: 15px; */
        }
    #navbar ul li a:hover{
        color:wheat;
        background-color: rgb(42, 38, 51)}
#image{
    clip-path: circle();
    width: 14vh;
}
.motivation{
    display: flex;
    position: relative;
    justify-content:center ;
    align-items: center;

height: 50vh;
}
#text{
font-size: 79px;
position: absolute;
 color: rgb(85, 193, 32);
 margin-top: 72px;
 margin-left: 22px;
 margin-bottom: 51vh;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#hr{
     margin: 28.5vh; 
    width: 20px;
}
.second{
    /* color: rgb(0, 0, 0); */
    color: rgb(188, 188, 70);
    margin-left: 100vh;
    font-size: 40px;
    
}
.section2{
    padding-top: 4vh;
     background-color: rgb(41, 41, 48);

}
.section2 p{
    font-size: 21px;
    color: bisque;
    margin-bottom: 3px;
    padding-left: 3px;

}
.motivation{
    padding-top: 29vh;
}
.box{
    margin: 12px 22px;
    min-width: 29vw;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    width: 2px;
    height: 33vh;
    text-align: center;
    display: inline-table;
    background-color: rgb(20, 18, 18);
    padding-top: 19px;
    border-radius: 5px;
    }

.box ul{
    list-style: none;
    font-size: 22px;
    font-weight: bold;
    padding: 23px;
    
}
.box ul li{
    padding: 9px;
}
.btn{
    background-color: blue;
    color: white;
    border-radius: 12px;
    margin: 12px;
    padding: 3px;
}
.three{
    margin-left:41vw ;
    margin-bottom: 24px;

    
}
.three h1{
    font-size: 49px;
    margin-top: 22px;
    color: rgb(81, 181, 48);
}
.last ul li{
    color: aqua;
    padding: 5px;
    margin-top: 8px;
    font-size: 26px;
}
.hello ul li{
    color: aqua;
    padding: 13px;
    display: flex;
    display: inline;
    padding: 6vw;
    font-size: 26px;

    
}
.hello ul{
    padding-left: 48vw;
    /* padding: 44px; */
}


.front{
    padding-left: 55vw;
    font-size: 18px;

}

.front1{
    padding-left: 70vw;
    font-size: 18px;
}
.front2{
    padding-left: 90vw;
    font-size: 18px;
}
footer{
    padding: 23px;
    text-align: center;
}